In [6]:
# Import libraries
import gurobipy as grb
import pandas as pd
import matplotlib.pyplot as plt
import numpy.random as np
import sys
import matplotlib 
%matplotlib inline

GRB = grb.GRB

In [11]:
m = grb.Model()
x1 = m.addVar(lb=0, ub=GRB.INFINITY, obj=20, vtype=GRB.CONTINUOUS, name='consumed.1')
x2 = m.addVar(obj=10, name='consumed.2')
x3 = m.addVar(obj=31, name='consumed.3')
x4 = m.addVar(obj=11, name='consumed.4')
x5 = m.addVar(obj=12, name='consumed.5')
m.update()
lhs = 2*x1 + 3*x3 + x4 + 2*x5
iron_constr = m.addConstr(lhs, '>', 21, name='nutrient.iron')
calcium_constr = m.addConstr(x2 + 2*x3 + 2*x4 + x5 >= 12, name='nutrient.calcium')
m.update()


m.write('diet.lp')

In [13]:
!more diet.lp

\ LP format - for model browsing. Use MPS format to capture full model detail.
Minimize
  20 consumed.1 + 10 consumed.2 + 31 consumed.3 + 11 consumed.4
   + 12 consumed.5
Subject To
 nutrient.iron: 2 consumed.1 + 3 consumed.3 + consumed.4 + 2 consumed.5
   >= 21
 nutrient.calcium: consumed.2 + 2 consumed.3 + 2 consumed.4 + consumed.5
   >= 12
Bounds
End
>

In [ ]:
m.optimize()
print "Model status =", m.Status
assert m.Status == GRB.OPTIMAL

In [14]:
fin = pd.read_excel('Finan.xlsx')
fin.head()
spe = pd.read_excel('Spec.xlsx')
spe.head()

,StoreID,State,Store Type,Store Age,Manager Tenure,Rent,Associates per Open Hour Pre 4/5/2015,Associates per Open Hour Post 4/5/2015,Open Time Pre 4/5/2015,Open Time Post 4/5/2015,Close Time Pre 4/5/2015,Close Time Post 4/5/2015,Avg Income within 5mi ($1000s),Population within 5mi (1000s),Competition within 5mi,Avg Age within 5mi
0,1,TX,Standalone,8,8,608975,24,24,07:00:00,07:00:00,21:00:00,21:00:00,39,388,45,28
1,2,TX,Standalone,38,4,903399,24,24,07:00:00,07:00:00,21:00:00,21:00:00,31,66,45,25
2,3,WI,Standalone,36,9,870832,24,24,07:00:00,07:00:00,21:00:00,21:00:00,69,13,6,27
3,4,NH,Strip Mall,39,2,601455,24,24,07:00:00,07:00:00,21:00:00,21:00:00,63,446,80,40
4,5,NJ,Standalone,20,1,749164,24,24,07:00:00,07:00:00,21:00:00,21:00:00,30,111,3,26

In [15]:
df.iloc[278].plot(figsize=(15,5))
df.iloc[21].plot(figsize=(15,5))
#df.iloc[31].plot(figsize=(15,5))

NameError: name 'df' is not defined